<div class="container">
  <app-user-input (Value)="findThisUser($event)"></app-user-input>
  <hr />
  <div *ngIf="user; repo">
    <div class="row">
      <div class="user-info col1 text-black">
        <h2>User-Info</h2>
        <img src="{{user.avatar_url}}" alt="" height="200px">
        <p>{{ user.login }}</p>
        <p>{{ user.public_bio }}</p>
        
        <p>Repositories: {{ user.public_repos }}</p>
        
      </div>
      <div class="col2">
        
        <div class="card">
          <ol>
            <li *ngFor="let repo of repo" appHighlighter>
              <h3 appHighlight class="card-title">
                {{ repo.name | titlecase }}
              </h3>
              <p class="card">{{ repo.description }}</p>
              <p id="language">{{ repo.language }}</p>
              <p>{{ repo.created_at | ageFinder }}</p>
              <button class="btn">
                <a
                  href="{{ repo.html_url }}"
                  class="btn btn-success"
                  target="_blank"
                  >View Repository</a
                >
              </button>
            </li>
          </ol>

          <hr />
        </div>
      </div>
    </div>
  </div>
</div>
