/* You can add global styles to this file, and also import other style files */
*{
  color: white;
  font-size: 22px;
  padding-left: 18px;
}
body{
  background-image: url(./assets/images/gitb3.jpeg); 
  background-position: center; 
  background-size: cover;
  background-repeat: no-repeat;
}
.overlay{
    background: rgb(0, 0, 0, .5);
}
button{
  color: black;
}